*{
  margin: 0%;
}
.navbar {
  padding-right: 0;
  padding-left: 0;
  background-color: rgb(250, 134, 66);
}
.navbar-toggler {
  margin-right: 0;
}
.img2{
  height: auto;
  width: 400px;
}
a.nav-link{
  color: rgb(250, 252, 252);
  font-size: 20px;
  font-family sans-serif
} 
a.nav-link active{
  color: aqua;
}
/* Responsive carousel */
@media (max-width: 576px) {
    /* Extra small devices (phones) */
    .carousel-inner img {
      max-height: 300px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    /* Small devices (tablets) */
    .carousel-inner img {
      max-height: 400px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    /* Medium devices (desktops) */
    .carousel-inner img {
      max-height: 500px;
    }
  }
  
  /* You can add more media queries as needed for larger devices */
  p{
    font-family: serif;
    font-size: 16px;
  }
.home-cookbook ,.row{
    padding-top: 50px;
  }
  .container1{
    width: 100%;
    height: 400px;
    margin-top: 50px;
  }
  li a{
  text-decoration: none;
  color: azure;
}
  
ul  {
  list-style-type:none;
}
 i{
  font-size: 30px;
 } 
 #footer{
  background-color: #2d302d;
 }
 .img1{
  width: 300px;
  height: auto;
 }